export GUILE_LOAD_PATH=$HOME/guix-config/modules:$HOME/.config/guix/current/share/guile/site/3.0:$GUILE_LOAD_PATH
export GUILE_LOAD_COMPILED_PATH=$HOME/.config/guix/current/lib/guile/3.0/site-ccache:$GUILE_LOAD_COMPILED_PATH

use guix guile-lsp-server
