use guix -m ../python3.scm python-toolchain
layout python3

# Use this format for getting paths to e.g. libraries that need to be added
# to path variables.
# read zlib <<< $(guix build zlib)
# export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${zlib}/lib"
